@font-face {
	font-family: "Digital-7";
	src: url( "digital-7.regular.ttf" );
}

/* Police Radar */
#meter {
	width: 595px;
	height: 50px;

	position: absolute;
	bottom: 0px;
	right: 10px;
	margin: auto;

	color: white;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#fare {
	width: 370px;
	height: 120px;

	position: absolute;
	bottom: 10px;
	right: 10px;
	margin: auto;

	color: white;
	border-radius: 10px;

	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-template-columns: repeat(2, 2fr);
	background-image: url("img/fare2.png");
	padding: 2%;
}

#fare .label {
	display: grid;
	grid-area: label;
}

#fare .container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 75% 25%;
	grid-template-areas:
		"meter-field"
		"label";
		margin-top: 35px;
		margin-bottom: 30px;
}

#fare .meter-field {
	display: grid;
	grid-area: meter-field;
	font-family: "Verdana";
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	overflow-x: hidden;
}

#fare .label {
	width: 100%;
	height: 100%;
	background-color: black;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10px;
	text-align: center;
}

#config {
	background-image: url("img/phone.png");
	width: 280px;
	height: 450px;
	position: absolute;
	left: 90%;
	transform: translateX(-50%);
  padding: 10px;
	position: absolute;
	top: 65%;
	margin-top: -250px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
  text-align: center;
  color: #333;
}

#config h1{
  margin-top: 120px;
  font-size: 18px;
  font-family: 'Digital-7';
   text-align: center;
}

#config .button{
  font-family: 'Arial';
  padding: 8px;
  width: 100px;
  opacity: 0.8;
  font-size: 12px;
  margin: 0 auto;
  background:  #efc700;
  margin-bottom: 10px;
   text-align: center;
}
